<%= div_for (@comment) do %>
	<p> Hi </p>
    <p>
        <strong>
        	Posted <%= time_ago_in_words(@comment.created_at) %> ago
        </strong>
        <br/>
        <%= @comment.body %>
    </p>
<% end %>
<%= @comment %>
